<h1>New Post</h1>
<%= form_for @post do |f| %>
	<%= render 'shared/error_message' %>
	<p>
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :text %><br>
		<%= f.text_area :text %>
	</p>
	<p>
		<%= f.submit "post a post"%>
	</p>
<% end %>
<%= link_to 'Back', posts_path %>